{% extends "../base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block 'other_styles' %}
<link rel="stylesheet" href="{% static 'users_hub/css/main.css' %}" />
{% endblock %}

{% block 'logo' %}
<h1 id="logo">Faça seu Login</h1>
{% endblock %}

{% block 'main' %}
<section id="main">
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert {{message.tags}}" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-12">
        <section class="form-section">
          <form method="post">
            {% csrf_token %}
            <div class="row gtr-50">
              <div class="col-12">
                {{ form|crispy }}
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
            
            <div class="border-top pt-3 mt-3">
              <small class="text-muted">
                Precisa de uma conta? <a class="ml-2" href="{% url 'users_hub:register' %}">Faça o registro</a>
              </small>
            </div>
          </form>

        </section>
      </div>
    </div>
  </div>
</section>
{% endblock %}